~<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form method="post" action="/register"> 
        <label for="email"> Email </label>
        <input aria-placeholder="e.g - maxwinner2000@gmail.com" type="email" id="email" name="email" required>
        <br ><label for="password" id="password" name="password" > Пароль:</label>
        <input type="password" required>  
        <button type="submit"> Зарегестрироваться </button>
    </form>
</body>
</html>