<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        color: azure;
        background-color: #333;
        font-size: 6rem;
    }
</style>
<body>
    <div>
        <img src="https://i.pinimg.com/originals/2c/66/2d/2c662d4de56c3603377dd666c24f3630.png"> 
        Такой страницы не существует :< 
    </div>
</body>
</html>