<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body style="background: url(https://images.wallpaperscraft.com/image/single/paper_texture_cells_55327_1920x1080.jpg); text-decoration: none;">
    <a href="/crash">Краш</a>
    <a href="/mines">Минки</a>
    <a href="/profile">Профиль </a>

</body>

</html>